body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45 )), url(/static/coffee2.jpg);
    background-size: cover; 
    background-blend-mode: darken;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(230, 230, 230);
}
.btn1 {
    color:aliceblue;
    background-color: transparent;
    border-color: antiquewhite;
    border-radius: 25px;
}

.Sign {
    color:aliceblue;
    background-color: transparent;
    border-color: antiquewhite;
    border-radius: 25px;
}
h1.coffee{
    text-align: center;
    color: rgb(240, 240, 240);
    text-underline-offset: 20px;
}
p.intro{
    text-align: center;
}
div.login{
    text-align: center;
    /* border:solid;
    border-radius:inherit;
    padding: 5px 10px;
    width: 500px;
    font-size: larger; */
}
p.signintro{
    text-align: center;
}
button.btn1:hover{
    color: blue;
}
form{
    text-align: center;
}
a.btn:hover{
    color: yellow;
    text-decoration: line-through;
}
a.btn:visited{
    color: pink;
}
nav{
    text-align: right;
}
h1.create{
    text-align: center;
}
p.txt{
    text-align: right;
}
p.ending{
    text-align: center;
}
